language: python
python:
  - 2.7
  - 3.5
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq gfortran liblapack-pic
  # Print NumPy version that is already installed by Travis CI:
  - python -c "import numpy; print(numpy.__version__)"
  - git clone --branch=master --depth=100 --quiet git://github.com/clawpack/clawpack
  - cd clawpack
  - git submodule init
  - git submodule update clawutil visclaw pyclaw
  - rm -rf riemann
  - ln -s ../ riemann
install:
  # no need for pip installer here if numpy is present
  - python setup.py install
script:
  - cd pyclaw/examples
  - nosetests
notifications:
  email: false
